// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import normalize

$color-search: sandybrown

.post_wrapper

    display: none



.header_image

    background: url(Beach-Photography-Wallpaper.jpg) center center
    background-size: cover
    height: 70vh

*

    margin: 0
    padding: 0

    
html,body

    height: 100%
    font-family: 'Titillium Web', sans-serif

 
/* navigation bar */


nav

    position: fixed
    top: 0
    left: 0
    height: 50px
    width: 100%
    background-color: rgba(200,200,200,.5)
    z-index: 99
    font-size: 15px
    clear: both
    transition: all 0.3s ease



    li

        list-style-type: none
        float: left
    

    a

        text-decoration: none
        color: #fff
        padding: 5px 10px
        border-radius: 2px
        margin-left: 30px
        line-height: 50px


    a:hover
  
        background-color: rgba(200,213,213,0.5)



 


/* search input box */

#search_input

    background-color: transparent
    padding: 10px 15px
    height: 20px
    width: 160px
    font-size: 12px
    color: #ccc
    float: right
    margin-top: 4px
    margin-right: 40px
    border-radius: 50px
    border: 1px solid lighten($color-search, 10%)





    &:focus 

    outline: none




#search

    position: absolute
    right: 60px
    color: #ccc
    margin-top: 15px

       