// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import normalize

$color-search: sandybrown

*

    margin: 0
    padding: 0

a

    text-decoration: none
    color: inherit    

    
html,body

    height: 2000px
    font-family: 'Titillium Web', sans-serif



.post_wrapper

    display: none



.header_image

    position: relative
    background: url(image1.jpg)  center
    background-size: cover
    height: 70vh

    .logo

        position: absolute
        top: 100px
        margin: 0 auto
        color: #fff
        font-size: 30px
        border: 7px solid #ccc
        border-radius: 6px
        padding: 30px
      
        



 
/* navigation bar style */


nav
  
    position: fixed
    top: 0
    left: 0
    height: 50px
    width: 100%
    background-color: rgba(200,200,200,.5)
    z-index: 99
    font-size: 15px
    clear: both
    transition: all 0.3s ease



    li.menu

        list-style-type: none
        float: left
        position: relative 
        color: #000  
        cursor: pointer 

    #anchor_menu

        padding: 5px 10px
        border-radius: 2px
        background-color: rgba(200,213,213,0.5)
        margin-left: 30px
        line-height: 50px


    #anchor_menu:hover
  
        background-color: rgba(200,223,213,0.5)


    ul.dropdown

        position: absolute
        top: 100%
        left: 30px
        width: 150%
        opacity: 0.8
        cursor: pointer

        > li
            
            list-style-type: none
            background: #332d2d
            padding: 20px 20px
            font-size: 13px
          
            

            &:hover
                
                background: #666 
                opacity: 1

            &:last-child

                border-radius: 0 0 5px 5px

            #anchor_submenu


                color: rgba(255, 255, 255, 1)
                

        
    ul.dropdown li

        display: none

    li:hover > ul.dropdown li

        display: block



/* search input box */

#search_input

    background-color: transparent
    padding: 10px 15px
    height: 20px
    width: 160px
    font-size: 13px
    color: #000
    float: right
    margin-top: 4px
    margin-right: 40px
    border-radius: 10px
    border: 1px solid lighten($color-search, 10%)





    &:focus 

    outline: none




#search

    position: absolute
    right: 60px
    color: #fff
    margin-top: 15px


/* Subscribe label */

.subscribe-label

    background-color: #fff
    width: 700px
    height: 250px
    position: relative
    margin: -50px auto
    color: #003333
    z-index: 4
    box-shadow: 0px 1px 9px 0px #696969

    #label-para-1

        max-width: 600px
        text-align: center
        margin: 0 auto
        font-size: 25px
        padding-top: 30px
        font-weight: bold

    #label-para-2

        max-width: 600px
        text-align: center
        margin: 0 auto
        padding-top: 30px
        font-size: 18px

.subscription_form

    font-family: 'Open Sans', sans-serif
    font-size: 15px
    color: #003333
    display: flex
    flex-direction: row
    justify-content: center



    input[type="text"], input[type="email"], #countries

        background-color: #dcdee0
        width: 21%
        border-radius: 2px 
        padding: 16px 20px

    input[type="submit"]

        background-color: sandybrown
        width: 22%
        color: #fff
        border-radius: 2px
        padding: 16px 20px



/* Blog Posts */




.blog_posts

    background: url(balloons.jpg) top center
    background-attachment: fixed
    background-size: cover
    display: flex
    flex-direction: row
    justify-content: center
    height: 820px 
    position: relative
    z-index: 1

    
    #blog_post_title

        margin: 0 auto
        position: absolute
        top: 105px

        .inset-text-effect 

            display: inline-block
            box-sizing: content-box
            border: none
            text-align: center
            text-transform: normal
            text-overflow: clip
            white-space: pre
            text-shadow: 1px 1px 0 #003333 , -1px -1px 1px #fff


        #latest_blogs_title

            font-size: 30px
            font-weight: bold
            color: #003333
            

    #paragraph
        
        font-size: 15px
        margin-left: 20px
        margin-top: 30px
        width: 260px

    #read_post

        margin-left: 20px
        margin-top: 20px
        font-weight: bold   


    .post1

       
        background-color: #eee
        color: #003333
        width: 300px
        height: 470px
        box-shadow: 0px 1px 9px 0px #696969
        margin-right: 30px
        margin-left: 30px
        margin-top: 200px
        float: left



    .post2

        
        background-color: #eee
        color: #003333      
        width: 300px
        height: 470px
        box-shadow: 0px 1px 9px 0px #696969
        margin-right: 30px
        margin-left: 30px
        margin-top: 200px
        float: left  

    .post3

       
        background-color: #eee
        color: #003333    
        width: 300px
        height: 470px
        box-shadow: 0px 1px 9px 0px #696969
        margin-right: 30px
        margin-left: 30px
        margin-top: 200px
        float: left


         
