

<%= form_for @post do |f| %>

<p>
  
  <%= f.text_field :title, placeholder: "Title of the post" %>

</p>  

<p>

  <%= f.text_area :body, placeholder: "Contents of the post", size: "30x10" %>
  
  

</p>

<p>  <%= f.button  "Submit", id: "post_submit"  %> </p>

<% end %>