<div class="edit_page">
        

    <%= form_for @post do |f| %>

    <h1>Edit your post here</h1>

    <p>
    
    <%= f.text_field :title, placeholder: "Title of the post" %>

    </p>  

    <p>

    <%= f.text_area :body, placeholder: "Contents of the post" %>
    
    

    </p>

    <p>  <%= f.button  "Submit", id: "post_submit"  %> </p>

<% end %>



</div>